services:
  postgres:
    image: postgres:16
    container_name: pulse_watch_postgres
    environment:
      POSTGRES_USER: pulse_watch
      POSTGRES_PASSWORD: pulse_watch
      POSTGRES_DB: pulse_watch_development
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: pulse_watch_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
