services:
  postgres:
    image: postgres:16
    container_name: pulse_watch_postgres
    environment:
      POSTGRES_USER: pulse_watch
      POSTGRES_PASSWORD: pulse_watch
      POSTGRES_DB: pulse_watch_development
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: pulse_watch_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: pulse_watch_web
    ports:
      - "3020:3000"
    volumes:
      - .:/rails
      - bundle_data:/usr/local/bundle
    environment:
      RAILS_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: pulse_watch_sidekiq
    command: bundle exec sidekiq -C config/sidekiq.yml
    volumes:
      - .:/rails
      - bundle_data:/usr/local/bundle
    environment:
      RAILS_ENV: development
      DB_HOST: postgres
      DB_PORT: 5432
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
  redis_data:
  bundle_data:
